
h2 {
    margin-top: 5%;
}

#banner {
    background-image: url("../img/88.jpg");
    background-attachment: fixed;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    margin-top: 5%;
}

#apresentação {
    text-align: center;
    background-color: #eb831b;
    height: 30vh;
    border-radius: 3%;
    animation: apresentação-animaton;
    animation-duration: 4s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes apresentação-animaton {
    0%   {background-color: #F2E205;}
  10%  {background-color: #F2CB05;}
  20%  {background-color: #F2B705;}
  30% {background-color: #F29F05;}
  40% {background-color: #F29D0A;}
  50% {background-color: #FF9900;}
  60% {background-color: #FF8C00;}
  70% {background-color: #FF9900;}
  80% {background-color: #F29D0A;}
  90% {background-color: #F2B705;}
  100% {background-color: #F2E205;}
}

#apresentação:hover {
    background-color: transparent;
}

h1 {
    font-size: xx-large;
    color: #FFF9F9;
    padding-top: 15%;
    margin-bottom: 5%;
}

#btn-ap {
    background-color: #006494;
    padding: 1.5%;
    border-radius: 5%;
    border: #006494;
    box-shadow: 0 0 1em #00659473;
}

#btn-ap-link {
    text-decoration: none;
    color: white;
}

#btn-ap:hover {
    background-color: transparent;
    border: 2px solid #006494;
    color: #006494;
}

.section-2-cards {
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    gap: 10px;
}

ul {
    list-style: none;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1em rgba(66, 162, 201, 0.685);
}


.cards-vector-plane {
    width: 20%;
}

.cards-vector-suitcase {
    width: 8%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 2%;
}

.preço {
    color: #EDAA25;
    font-size: 2em;
}

.btn {
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}


